extends layout

block content
  .w3-container
    h1 Filme
    table.w3.table-all
      tr
        th Identificador
        th Titulo
        th Ano
        th Elenco
        th Generos
      tr
        td= filme._id
        td= filme.title
        td= filme.year
        td= filme.cast
        td= filme.genres
        